<div>
  <div class="footer_container">
    <%= link_to :root do %>
        <img class="footer-logo" src="https://rails-02-sample.herokuapp.com/assets/common/logo.png">
    <% end %> 
    <p class="">Copyright © Potepan Share 2023 All rights reserved</p>
  </div>
</div>
