<h2>設定</h2>

<div class="user_tab_navigation">
  <div class="user_tab_navigation_item">
    <%= link_to "アカウント", :users_account, class: "no-underline" %>
  </div>
  <div class="user_tab_navigation_item">
    <%= link_to "プロフィール", :users_profile, class: "no-underline" %>
  </div>
</div>
