table {
  width: 100%;
}

table th {
  padding: 20px 40px;
  border-bottom: 3px solid #212529;
}

table td {
  padding: 20px 40px;
  border-bottom: 3px solid lightgray;
}

.dropdown-divider {
  border: 3px solid #e9ecef;
}

.navbar {
  background-color: #1c1d3b;
}

.nav-logo {
  width: 221px;
}

.nav-user-name {
  color: #fff;
}

.page-title {
  margin-bottom: 24px;
}

.first-view {
  background-image: url("https://rails-02-sample.herokuapp.com/assets/home/cover-lg.jpg");
  background-size: cover;
  background-position: 50%;
  height: 750px;
  padding-top: 117px;
  margin-bottom: 100px;
}

.first-view-title {
  font-size: 84px;
  font-weight: 400;
}

.first-view-search {
  width: 600px;
  margin: auto;
  background-color: transparent;
  padding: 32px;
}
 
input[type="text"] {
  height: 50px;
}

.form-control {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}  

.search-btn {
  border-radius: 12px;
  width: 100%;
  height: 58px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
  
.bg-coral {
  background-color: #ff7757;
  border-color: #ff7757;
}
 
.recommendedareas-section-title {
  border-bottom: 3px solid #ff7757;
  width: fit-content;
  font-size: 34px;
  line-height: 54px;
  margin-bottom: 88px;
  margin-left: 40px;
}

.section {
  padding: 32px 32px 180px;
}

ul {
  list-style: none;
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

.user_tab_navigation {
  display: flex;
  margin-bottom: 32px;
  width: 50%;
  border: 3px solid silver;
}

.user_tab_navigation_item {
  width: 50%;
  text-align: center;
  padding: 16px;
}

.user_tab_navigation_item:first-child {
  border-right: 2px solid silver;
}

.user-section-title {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 20px;
}

.user-account-form-group {
  padding: 20px;
}

.profile-item {
  padding: 20px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  flex-wrap: wrap;
}

.text_field {
  width: 400px;
}

.text_area {
  width: 400px;
  height: 200px;
}

.save-btn {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  width: 88px;
  cursor: pointer;
}

.cancel-btn {
  color: #6a6a6a;
  border: 2px solid #e0e0e0;
  width: 148px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
}

.form-container {
  width: 702px;
  margin: auto;
}

.room-form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form-label {
  font-size: 20px;
  font-weight: 600;
}

.recommendedareas {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}  

.area-search {
  margin: 10px auto;
  border-radius: 20px;
}

.area-title {
  color: #000;
  background-color: #fff;
}

.area-img {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 455px;
  padding: 40px 20px;
  font-size: 50px;
  justify-content: flex-end;
  border-radius: 26px;
}

.tokyo-img {
  background-image: url("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/tokyo.jpg");
}

.osaka-img {
  background-image: url("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/osaka.jpg");  
}

.kyoto-img {
  background-image: url("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/kyoto.jpg");    
}

.sapporo-img {
  background-image: url("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/sapporo.jpg");      
}

.room-details-section {
  width: 100%;
  padding: 40px 20px;
  margin-bottom: 260px;
}

.back_to_page_link {
  color: #0071c1;
  font-size: 20px;
  margin-bottom: 24px;
}

.room-info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.room-details-body {
  background-color: #fff8f1;
  padding: 40px 24px;
}

.room_details_name {
  font-size: 28px;
  color: #767e86;
  padding-left: 40px;
}

.room_details_address {
  padding-left: 40px;
}

.room_details_price {
  font-size: 25px;
  color: #ff7757;
  padding-left: 40px;
}

.room_for_more_details {
  padding-left: 40px; 
}

.reservation-form-container {
  background-color: #fff8f1;
  padding: 24px;
}

.reservation-form {
  display: flex;
  gap: 24px;
  padding: 24px 0;
  flex-wrap: wrap;
}

.reservation_form_label {
  color: #6a6a6a;
  font-weight: 400;
}

.reservation_field {
  height: 50px;
  width: 200px;
  border: 1px solid #ced4da;
}

.reservation-btn {
  width: 100%;
  color: #fff;
  font-size: 24px;
  height: 71px;
  border-radius: 12px;
}

.login-btn-for-reservation {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 24px;
  height: 71px;
  text-align: center;
  line-height: 71px;
  border-radius: 12px;
}

.white-font-color:hover {
  color: #fff;
}

.search_rooms_form_container {
  background-color: #dfe2e6;
  height: 125px;
}

.search_rooms_form {
  width: fit-content;
  margin: auto;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.search_rooms_form_input {
  width: 285px;
  padding-left: 45px;
  border: 1px solid #ced4da;
}

.search_rooms_form_btn {
  font-size: 20px;
  height: 45px;
  width: 100px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}

.rooms_conatiner {
  padding: 40px 32px;
  margin-bottom: 260px;
}

.search_room_results {
  margin-bottom: 24px;
  font-size: 20px;
}

.total_room_results {
  font-weight: 600;
}

.room_details_link {
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
}

.description_before_reservation {
  margin: 24px 0;
}

.confirmation_btn {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  padding: 6px 12px;
  height: 58px;
  border-radius: 12px;
  margin: 24px 0;
}

.cancel-reservation-btn-wrap {
  font-size: 18px;
  width: 100%;
  height: 58px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

.cancel-reservation-btn {
  color: #6a6a6a;
  line-height: 58px;
  display: block;
}

.cancel-reservation-btn:hover {
  color: #6a6a6a;
  text-decoration: none;
}
  
footer {
  height: 465px;
  background-color: #1c1d3b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container {
  padding: 100px 32px 0;
}

.footer-logo {
  width: 294px;
  margin-bottom: 16px;
}
